.tabela-main {
  color: rgb(255,255,255)!important;
  background: rgba(48,66,94,0.76);
  width: 300px;
  border-radius: 20px;
  text-align: center;
  font-size: 15px;
  box-shadow: 15px 15px 15px rgba(0,0,0,0.42);
  margin: 1.5rem auto 1.5rem auto;
  padding: 0.5rem;
}

.tabela-main {
  color: rgb(255,255,255)!important;
  background: rgba(48,66,94,0.76);
  width: 250px;
  border-radius: 20px;
  text-align: center;
  font-size: 20px;
  box-shadow: 15px 15px 15px rgba(0,0,0,0.42);
  margin: 1.5rem auto 1.5rem auto;
  padding: 0.5rem;
}

.tabela-main {
  color: rgb(255,255,255)!important;
  background: rgba(48,66,94,0.76);
  width: 400px;
  border-radius: 20px;
  text-align: center;
  font-size: 20px;
  box-shadow: 15px 15px 15px rgba(0,0,0,0.42);
  margin: 1.5rem auto 1.5rem auto;
  padding: 0.5rem;
}

#contacts {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.header-class {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.body {
  color: white;
}

.about-div {
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}

.btn-main {
  height: auto;
  width: auto;
  background-color: rgba(255,255,255,0);
  font-size: 50px;
  border-radius: 100px;
  border-style: none;
}

.contacts-global {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-color: rgba(48,66,94,0.76);
  border-radius: 20px!important;
}

.ikonica {
  font-size: 30px;
  color: white;
}

.dodaj-new {
  width: 64px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5rem;
}

#button-add {
  background-color: #6689cc;
}

#btn-edit {
  height: auto;
  border-radius: 200px;
}

#search-input {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5rem;
}

.linkovi {
  height: auto;
  width: auto;
  background-color: rgba(255,255,255,0);
  font-size: 50px;
  color: white;
}

.linkovi:hover {
  color: rgb(120,131,234);
}

